doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login with Facebook
  body
    script(type='text/javascript', src='javascripts/facebook.js')
    .fb-like(data-share='true', data-width='450', data-show-faces='true')
    #status
