section#login.login-section
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight.color-y Login
        .section.contact-us.container-fluid
          .row
            .col-xs-12.col-md-8.col-md-offset-2
              .outer-box.text-center
                // Contact Form Start
                .form-box.clearfix
                  form#loginform.shake.scroll-reveal(data-toggle='validator' action='/auth/login' method='post')
                    .row
                      .form-group.col-xs-12
                        label(class="error" for="username" style="display:none;")
                        input#username.border-color-y.form-control.input-code(type='text' placeholder='Email' name='email')
                    .row
                      .form-group.col-xs-12
                        label(class="error" for="loginpass" style="display:none;")
                        input#loginpass.border-color-y.form-control.input-code(type='password' placeholder='Password' name='password')
                    .row
                      .col-xs-12.col-sm-6.form-group
                        img.icon-auth.pull-left(src="images/fb-icon.png" width="50px" style="margin-right: 10px;")
                        img.icon-auth.pull-left(src="images/gg-icon.png" width="50px")
                      .col-xs-12.col-sm-6
                        input(type="submit" value="Login").btn.upload-btn.pull-right
.clearfix
