section#upload.upload-section
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight.color-y.font-weight-h.text-transform.transform-color Upload File
  .section.contact-us.container-fluid
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        .outer-box.text-center
          // Contact Form Start
          .form-box.clearfix
            form#uploadform(action="/upload" method="post" enctype="multipart/form-data")
              .form-group.col-xs-12
                .file-upload
                  .file-select
                    #fileName.file-select-button Choose File
                    #noFile.file-select-name No file chosen...
                    input#chooseFile(type='file' name='file')
              .form-group.col-xs-12
                input#findpass.form-control.input-code(type='password', placeholder='Password(optional)' name='pass')
              .col-xs-12
                input#uploadAjax(type="submit" value="Upload").btn.upload-btn