section#findfile.contactus.find-file-section
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight.color-y.font-weight-h.text-transform Find File
  .section.contact-us
    .container-fluid
      .row
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          .outer-box.text-center
            // Contact Form Start
            .form-box.clearfix
              form#findform.shake.scroll-reveal(data-toggle='validator' )
                .form-group.col-xs-12
                  input#findcode-find.border-color-y.form-control.margin-bottom-1.input-code(type='text', placeholder='Enter File Code')
                  input#p-assfind.border-color-y.form-control.input-code(type='text', placeholder='Enter password if exist')
                .col-xs-12
                  a.btn(href='#') Find
                  #msgSubmit
.clearfix