section#pricing.pricing
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight PRICING TABLE
          span.dots.dt-theme.margin-bottom-1
          p.font-weight Sed ut perspiciatis unde omnis iste natus error sit voluptatem
  .pricing-area.pricing-one.pt-60.pb-30.bg-gray
    .container
      .row.row-tb-0
        .col-md-4.pt-20.mb-20
          .pricing-plan.ptb-30.prl-20
            .plan-header
              h4.t-uppercase.mb-10.font-20.font-weight-h standard
              h2.price.color-g.font-40.mb-10 $59
              p.t-uppercase.font-weight Per month
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Branded Reports
                li
                  i.fa.fa-check
                  | 25 Analytics Compaign
                li
                  i.fa.fa-close
                  | 1,900 Keywords
                li
                  i.fa.fa-close
                  | 4 Social Account
            .plan-footer
              a.btn(href='#') Choose Plan
        .col-md-4.mb-20
          .pricing-plan.plan-recommended.ptb-30.prl-20
            i.fa.fa-bookmark
            .plan-header
              h3.t-uppercase.mb-10.font-20.font-weight-h Professional
              h2.price.color-green.font-40.mb-10 $99
              p.t-uppercase.font-weight Per month
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Branded Reports
                li
                  i.fa.fa-check
                  | 25 Analytics Compaign
                li
                  i.fa.fa-check
                  | 1,900 Keywords
                li
                  i.fa.fa-close
                  | 4 Social Account
            .plan-footer
              a.btn(href='#') Choose Plan
        .col-md-4.pt-20.mb-20
          .pricing-plan.ptb-30.prl-20
            .plan-header
              h3.t-uppercase.mb-10.font-20.font-weight-h Entercprise
              h2.price.color-g.font-40.mb-10 $199
              p.t-uppercase.font-weight Per month
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Branded Reports
                li
                  i.fa.fa-check
                  | 25 Analytics Compaign
                li
                  i.fa.fa-check
                  | 1,900 Keywords
                li
                  i.fa.fa-check
                  | 4 Social Account
            .plan-footer
              a.btn(href='#') Choose Plan