section#pricing.pricing
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight.color-y PRICING TABLE
  .pricing-area.pricing-one.pt-60.pb-30.bg-gray
    .container
      .row.row-tb-0
        .col-md-4.pt-20.mb-20
          .pricing-plan.ptb-30.prl-20
            .plan-header
              h4.t-uppercase.mb-10.font-20.font-weight-h Guest
              h2.price.color-g.font-40.mb-10 Free
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Upload 1 file per day
                li
                  i.fa.fa-check
                  | Get file 5 times per day
                li
                  i.fa.fa-check
                  | File size < 10 MB
                li
                  i.fa.fa-close
                  | Mange file
                li
                  i.fa.fa-close
                  | Unlimited get file
                li
                  i.fa.fa-close
                  | Ads free ( No ad )
            .plan-footer
              a.btn.smoth-scroll(href='#upload') Upload
        .col-md-4.mb-20
          .pricing-plan.plan-recommended.ptb-30.prl-20
            i.fa.fa-bookmark
            .plan-header
              h3.t-uppercase.mb-10.font-20.font-weight-h Free Member
              h2.price.color-green.font-40.mb-10 10$
              p.t-uppercase.font-weight Per month
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Upload 3 file per day
                li
                  i.fa.fa-check
                  | File size up to 25MB
                li
                  i.fa.fa-check
                  | 10 times per file per day
                li
                  i.fa.fa-check
                  | Mange file
                li
                  i.fa.fa-check
                  | Unlimited get file
                li
                  i.fa.fa-check
                  | Ads free ( No ad )
            .plan-footer
              a.smoth-scroll.btn(href='#signup') Choose plan
        .col-md-4.pt-20.mb-20
          .pricing-plan.ptb-30.prl-20
            .plan-header
              h3.t-uppercase.mb-10.font-20.font-weight-h Free Member
              h2.price.color-g.font-40.mb-10 Sign up
            .plan-main.ptb-20
              ul
                li
                  i.fa.fa-check
                  | Upload 10 file per day
                li
                  i.fa.fa-check
                  | File size up to 50MB
                li
                  i.fa.fa-check
                  | Mange file
                li
                  i.fa.fa-close
                  | Unlimited get file
                li
                  i.fa.fa-close
                  | Ads free ( No ad )
            .plan-footer
              a.smoth-scroll.btn(href='#signup') Sign up