section#upload.contactus.upload-section
  .container
    .row
      .col-md-12
        .section-title
          h2.font-weight.color-y.font-weight-h.text-transform.transform-color Upload File
        .section.contact-us.container-fluid
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
              .outer-box.text-center
                // Contact Form Start
                .form-box.clearfix
                  form#uploadform.shake.scroll-reveal(action="/guest/upload" method="post" enctype="multipart/form-data" data-toggle='validator')
                    .form-group.col-xs-12
                      .file-upload
                        .file-select.margin-bottom-1
                          #fileName.file-select-button Choose File
                          #noFile.file-select-name No file chosen...
                          input#chooseFile(type='file' name='file')
                      .form-group.col-xs-12
                        input#findpass.form-control.input-code(type='password', placeholder='Password(optional)' name='pass')
                      .col-xs-12
                        input#uploadAjax(type="submit" value="Upload").btn.upload-btn
                        //a.btn.upload-btn(href='#') Upload
                        #msgSubmit