#resultModal.modal.fade(role='dialog')
  #modal-dialog.modal-dialog(style="margin-top:30vh")
    // Modal content
    .modal-content
      .modal-body.custom-modal
        .container-fluid
          .row
            .col-12
              img#iconSuccess.d-block.mx-auto(src="images/success-icon.gif")
            .col-12
              h2#codeResult.text-center(style="padding:10px;overflow-wrap: break-word;" )
        button#hideModalUpload.btn.btn-default.custom-btn-modal.d-block.mx-auto(type='button', data-dismiss='modal') Ok

#preloadModal.modal.fade(role='dialog')
  .modal-dialog(style="margin-top:20vh")
    // Modal content
    .modal-content(style="background-color: transparent;")
      .modal-body.custom-modal
        .container-fluid
          .row
            .col-12
              img#preloader(style="width:100%" src="images/preloadFile.gif").center-block

#errorModal.modal.fade(role='dialog')
  .modal-dialog(style="margin-top:30vh")
    // Modal content
    .modal-content
      .modal-body.custom-modal
        .container-fluid.ext
          .row
            .col-12.text-center
              img#iconError.center-block(src="images/fail.png" width="72px")
            .col-12
              h2#errorMessage(style="padding:10px;overflow-wrap: break-word;line-height:30px").text-center
        .container
          button.btn.btn-default.err-btn-modal.d-block.mx-auto(type='button', data-dismiss='modal') Ok