extends ../userLayout

block content
  .main-file.container-fluid.w-100.h-100.pt-3.pb-3
    .card.w-100.h-100
      .container-fluid.h-100.d-flex.flex-column
        if(files)
          for f in files
            p(style="color:red;")= f.fileName
        else if(error)
          p= error
        nav(aria-label='Page navigation file').w-100.mt-auto
          ul.pagination.justify-content-center.mb-0
            li.page-item
              a.page-link(href='#') Previous
            li.page-item
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') Next