section#userMain
  .container
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          .banner-text.text-center
            h1.font-weight-h.text-transform.margin-bottom-2.color-w
              | QK
              span.color-y FILE
            h3.font-weight.text-transform.ptb-20.color-w The fastest way to share a file
            a.btn.upload-scroll-custom.smoth-scroll(href='#upload') Upload
            a.btn.find-scroll-custom.smoth-scroll(href='#findfile') Tìm file