@media (min-width: 340px) {
  a.btn.upload-scroll-custom {
    background: #fdc318;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    font-size: 15px;
    height: 50px;
    opacity: 0.9; }

  a.btn.find-scroll-custom {
    background: #fdc318;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    height: 50px;
    font-size: 15px;
    opacity: 0.9; }

  a.btn.find-scroll-custom:hover {
    background: #FFF71C;
    border: 1px solid #FFF71C;
    font-weight: bold;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity: 1; }

  a.btn.upload-scroll-custom:hover {
    background: #FFF71C;
    border: 1px solid #FFF71C;
    font-weight: bold;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    opacity: 1; } }
.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }

.file-upload .file-select {
  display: block;
  border: 1px solid #fdc318;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  border-radius: 4px;
  background: #FFFFFF;
  overflow: hidden;
  position: relative; }

.file-upload .file-select .file-select-button {
  background: #fdc318;
  color: #FFFFFF;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px; }

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline;
  padding: 0 10px;
  color: #fdc318; }

.file-upload .file-select:hover {
  border-color: #FFF71C;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.file-upload .file-select:hover .file-select-button {
  background: #FFF71C;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.file-upload.active .file-select .file-select-name {
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0); }

.file-upload .file-select.file-select-disabled {
  opacity: 0.65; }

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative; }

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px; }

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px; }

input.btn.upload-btn, input.btn.find-btn {
  padding: 10px 20px;
  border: 1px solid #fdc318;
  color: #fdc318;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }

input.btn.upload-btn:hover, input.btn.find-btn:hover {
  background: #fdc318;
  color: #FFFFFF;
  border: 1px solid #fdc318;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  opacity: 1; }

input.btn.upload-btn.active {
  border: 1px solid #3fa46a;
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

input.btn.upload-btn.active:hover {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

#findcode.input-code, #findpass.input-code {
  border: 1px solid #fdc318;
  height: 45px;
  color: #fdc318; }

#findcode.input-code.active, #findpass.input-code.active {
  border: 1px solid #3fa46a;
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.transform-color.active {
  color: #3fa46a !important; }

section.find-file-section, section.signup-section, section.pricing, section.upload-section, section.login-section, section.howtouse-section {
  min-height: 95vh;
  background-size: cover; }

section#particle-area {
  padding-top: 20vh; }

section.find-file-section {
  padding-top: 20vh;
  background: url("../images/bg1.jpg") center center; }

section.signup-section {
  background: url("../images/bg7.jpg") center center; }

section.pricing {
  background: url("../images/bg4.jpg") center center; }

section.upload-section {
  padding-top: 20vh;
  background: url("../images/bg5.jpg") center center; }

section.login-section {
  padding-top: 20vh;
  background: url("../images/bg6.jpg") center center; }

section.howtouse-section {
  background: url("../images/bg3.jpg") center center; }

section.contact-section {
  background: url("../images/bg8.jpg") center center; }

.border-color-y {
  border: 1px solid #fdc318 !important;
  color: #fdc318 !important; }

.icon-auth {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 30px;
  background: white; }

@media (max-width: 475px) {
  .icon-auth {
    width: 30px;
    height: 30px; } }
h1#modalTitle, h2#codeResult {
  color: #78B345;
  font-weight: 800; }

button.custom-btn-modal {
  border: 1px solid #78B345;
  background: #78B345;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0.9; }

button.custom-btn-modal:hover {
  background: #85ba5a;
  border: 1px solid #85ba5a;
  color: #FFFFFF;
  font-weight: bold;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  opacity: 1; }

img#iconSuccess {
  width: 72px;
  display: none; }

button.err-btn-modal {
  border: 1px solid red;
  background: red;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0.9; }

button.err-btn-modal:hover {
  background: orangered;
  border: 1px solid orangered;
  color: #FFFFFF;
  font-weight: bold;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  opacity: 1; }

h2#errorMessage {
  color: red;
  font-weight: 800; }

.des-download {
  margin-top: 5vh !important; }

.error {
  color: red; }

input#sendmail {
  background: #fff; }

input#sendmail:hover {
  background: #fdc318; }

.text-color-theme {
  color: #fdc318; }

.text-color-active {
  color: #3fa46a !important; }

.main-file .card {
  opacity: 0.9;
  background-color: #f3f3f3;
  overflow: scroll; }

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }

.main-upload .file-upload .file-select {
  display: block;
  border: 1px solid #fdc318;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  border-radius: 4px;
  background: #FFFFFF;
  overflow: hidden;
  position: relative; }
.main-upload .file-upload .file-select .file-select-button {
  background: #fdc318;
  color: #FFFFFF;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px; }
.main-upload .file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline;
  padding: 0 10px;
  color: #fdc318; }
.main-upload .file-upload .file-select:hover {
  border-color: #FFF71C;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .file-upload .file-select:hover .file-select-button {
  background: #FFF71C;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .file-upload.active .file-select .file-select-name {
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0); }
.main-upload .file-upload .file-select.file-select-disabled {
  opacity: 0.65; }
.main-upload .file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative; }
.main-upload .file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px; }
.main-upload .file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px; }
.main-upload #findpass.input-code {
  border: 1px solid #fdc318;
  height: 45px;
  color: #fdc318; }
.main-upload #findpass.input-code.active {
  border: 1px solid #3fa46a;
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload .transform-color.active {
  color: #3fa46a !important; }
.main-upload input.btn.upload-btn {
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #fdc318;
  color: #fdc318;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }
.main-upload input.btn.upload-btn:hover {
  background: #fdc318;
  color: #FFFFFF;
  border: 1px solid #fdc318;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  opacity: 1; }
.main-upload input.btn.upload-btn.active {
  border: 1px solid #3fa46a;
  color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }
.main-upload input.btn.upload-btn.active:hover {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; }

.main-account .border-color-y {
  border: 1px solid #fdc318 !important;
  color: #fdc318 !important; }

.find-btn {
  background-color: #fff; }

.upload-btn {
  background-color: #fff; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=userStyle.css.map */
